<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee         http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <!-- the definitions for the servlets -->
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>servlets.Registro</servlet-class>
    </servlet>
    <!-- the mapping for the servlets -->
    <servlet>
        <servlet-name>CompraS</servlet-name>
        <servlet-class>servlets.Compra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modPelis</servlet-name>
        <servlet-class>servlets.modPelis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModCartelera</servlet-name>
        <servlet-class>servlets.ModCartelera</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pelicula</servlet-name>
        <servlet-class>servlets.Pelicula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesaPago</servlet-name>
        <servlet-class>servlets.ProcesaPago</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SelecAsiento</servlet-name>
        <url-pattern>/SelecAsiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesaPago</servlet-name>
        <url-pattern>/ProcesaPago</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Historial</servlet-name>
        <url-pattern>/Historial</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Index</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>servlets.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelecAsiento</servlet-name>
        <servlet-class>servlets.SelecAsiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Historial</servlet-name>
        <servlet-class>servlets.Historial</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/registro</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <!-- the mapping for the servlets -->
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditarPerfil</servlet-name>
        <servlet-class>servlets.EditarPerfil</servlet-class>
    </servlet>
    <!-- the mapping for the servlets -->
    <servlet-mapping>
        <servlet-name>EditarPerfil</servlet-name>
        <url-pattern>/EditarPerfil</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Comentar</servlet-name>
        <servlet-class>servlets.Comentar</servlet-class>
    </servlet>
    <!-- the mapping for the servlets -->
    <servlet-mapping>
        <servlet-name>Comentar</servlet-name>
        <url-pattern>/Comentar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Valorar</servlet-name>
        <servlet-class>servlets.Valorar</servlet-class>
    </servlet>
    <!-- the mapping for the servlets -->
    <servlet-mapping>
        <servlet-name>Valorar</servlet-name>
        <url-pattern>/Valorar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <!-- the mapping for the servlets -->
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Peliculas</servlet-name>
        <servlet-class>servlets.Peliculas</servlet-class>
    </servlet>
    <!-- the mapping for the servlets -->
    <servlet-mapping>
        <servlet-name>Peliculas</servlet-name>
        <url-pattern>/Peliculas</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListaPelis</servlet-name>
        <servlet-class>servlets.ListaPelis</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListaPelis</servlet-name>
        <url-pattern>/ListaPelis</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>menuPeli</servlet-name>
        <servlet-class>servlets.menuPeli</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarPeli</servlet-name>
        <servlet-class>servlets.EditarPeli</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>menuPeli</servlet-name>
        <url-pattern>/menuPeli</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarPeli</servlet-name>
        <url-pattern>/EditarPeli</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreaPeli</servlet-name>
        <servlet-class>servlets.CreaPeli</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreaPeli</servlet-name>
        <url-pattern>/CreaPeli</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AnadeCartelera</servlet-name>
        <servlet-class>servlets.AnadeCartelera</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AnadeCartelera</servlet-name>
        <url-pattern>/AnadeCartelera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompraS</servlet-name>
        <url-pattern>/CompraS</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Estrenos</servlet-name>
        <servlet-class>servlets.Estrenos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Estrenos</servlet-name>
        <url-pattern>/Estrenos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modPelis</servlet-name>
        <url-pattern>/modPelis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModCartelera</servlet-name>
        <url-pattern>/ModCartelera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pelicula</servlet-name>
        <url-pattern>/Pelicula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
</web-app>
